# Ambiente virtual Python
.venv/

# Cache Python
__pycache__/
*.pyc

# Banco SQLite
*.db

# Configurações locais do VSCode
.vscode/

# Arquivos temporários
*.log
*.tmp
*.xml

# Ambiente
.env

# Dependências e arquivos gerados
node_modules/
/newman/
/QAx/
/tests_robot/
/drivers/
/results/

# Relatórios Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Arquivos específicos
postman/*backup*.json
postman/*environment2*.json
postman/*environment3*.json
postman/CafeManager Local.postman_environment.json