# Ambiente virtual Python
.venv/

# Cache Python
__pycache__/
*.pyc

# Banco SQLite
*.db

# Configurações locais do VSCode
.vscode/

# Arquivos temporários
*.log

# Outro arquivo
.env
*.robot
*.log
*.tmp
*.xml
report.html
package-lock.json
package.json
postman/*backup*.json
postman/*environment2*.json
postman/*environment3*.json

node_modules/
/newman/
/QAx/
/tests_robot/
/drivers/
Testes.txt

log.html
postman/CafeManager Local.postman_environment.json
postman/Team Workspace.postman_globals.json
postman/meuAmbiente.json