:root {

    /* Fundos */
    --bg-main: #fffcea;

    --bg-card: #FCFBF7;

    /* Texto */

    --text-main: #3E2E22;

    /* Madeira */

    --brown: #5f3b1e;

    --brown-dark: #3d2513;

    /* Bordas */

    --border: #D8CDBE;

    /* Destaques */

}